.openbtn-wrap.pc-none
  .openbtn#js-btn
    span 
    span 
    span 
nav#g-nav.pc-none 
  #g-nav-list
    ul 
      li 
        a(href="" target="") テキスト
      li 
        a(href="" target="") テキスト
      li 
        a(href="" target="") テキスト