doctype html
html(lang='ja')
  head
    <?php get_header(); ?>
  body#js-drawer 
    include components/animation/global-nav.pug
    include components/header.pug
    main.main__wrap.home
      p メインです
    <?php get_footer(); ?>