doctype html
html(lang='ja')
  head
    include components/head.pug
  body#js-drawer 
    include components/animation/global-nav.pug
    include components/header.pug
    main.main__wrap.home
    include components/footer.pug
    include components/script-list.pug